.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 3% !important; */
  /* margin-top: 5% !important; */
     border-top: #808080 solid 3px;
    border-radius: 3px;
    padding-top: 3%;
    padding-bottom: 5%;
}

.step-btn {
  background: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
   color: whitesmoke !important;
   font-family: "Inria Serif", serif !important;
  /* padding: 3% !important;  */
}

.main-font{  font-family: "Inria Serif", serif !important;

}

.w-100 {
  width: 100%;
}

button:focus {
  outline: 0;
}

/* .reset-btn {
  margin-bottom: 10% !important;
  border: green solid 5px;
} */

.stepper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: #808080 solid 3px;
  border-radius: 3px;
  background-color: whitesmoke !important;

}
