.stepper-container{
  border: blue solid 3px;
}

.info {
  text-align: center;
  padding: 1% 2% !important;
}


.stepper {
  
  border-top: #808080 solid 3px;
  border-bottom: #808080 solid 3px;
  border-radius: 3px;
  background-color: whitesmoke !important;
  margin: 0 !important;
  padding: 2% !important;
  width: 100%;
}


.step-btn {
  background: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
   color: whitesmoke !important;
   font-family: "Inria Serif", serif !important; 
}

.step-btn-reset {
  background: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
   color: whitesmoke !important;
   font-family: "Inria Serif", serif !important; 
   width:100%;
}

.main-font{  
  font-family: "Inria Serif", serif !important; 
}
.sec-font{
  font-family: "Inria Serif", serif !important; 
}


button:focus {
  outline: 0;
}



@media only screen and (min-width: 960px) {
  .main-font{
    font-size: 1.1vw !important;
  }
  .sec-font{
    font-size: 1vw !important;
  }
  .step-btn{
    font-size: 1vw !important;
  }
  .root{
    font-size: 1.1vw !important;
  }
  }

  /* lg + */
  @media only screen and (min-width: 1280px) {
    .main-font{
      font-size: 1vw !important;
    }
    .sec-font{
      font-size: .9vw !important;
    }
    .step-btn{
      font-size: .9vw !important;
    }
    .root{
      font-size: 1vw !important;
    }
    
    }