.content-container {
  margin: 2% 0;
  height: 45vh;
  padding: 2%;

}

.scroll {
  height: 100%;
  overflow: auto;
}

.main-font {
  font-family: "Inria Serif", serif !important;
  /* font-size: 1.4vw !important; */

}
.author{
  font-family: "Calistoga", cursive !important;
  /* font-size: 1.8vw !important; */
  text-align: center;
}

.pencil-style {
  border: solid black 2px;
}

.marker-style {
  background-color: black;
}

.author-item {
  color: #e7e7e7;
  background-color: #353839;
  border-radius: 3px;
  width: 100%;
}



.image {
  float: right;
  padding: 2%;
  width: 67%;
}

@media only screen and (max-width: 425px) {
  .image {
    display: none;
    
  }
  .content-container {
    /* margin-top: 3%; */
  }
}



/* MUI's breakpoints md+ */
@media only screen and (min-width: 960px) {
  .main-font{
    font-size: 1.25vw !important;
  }
  }

  /* lg + */
@media only screen and (min-width: 1280px) {
  .main-font{
    font-size: 1.1vw !important;
  }
  
  }

@media only screen and (max-width: 768px) {
 
  .content-container{
    /* font-size: 1.2vw !important; */
    /* border-bottom: #808080 solid 3px;
    border-radius: 3px; */
  }
 }