.content-container {
  margin-top: 2%;
  height: 500px;
  margin-bottom: 5%;

}

.scroll {
  height: 100%;
  overflow: auto;
}

.text {
  margin-right: 1% !important;
  font-family: "Inria Serif", serif !important;
}

.pencil-style {
  border: solid black 2px;
}

.marker-style {
  background-color: black;
}

.author {
  color: #e7e7e7;
  background-color: #353839;
  border-radius: 3px;
  width: 100%;
}

.author h6 {
  text-align: center;
  font-family: "Calistoga", cursive !important;
}

.image {
  float: right;
  padding: 2%;
  width: 67%;
}

@media only screen and (max-width: 600px) {
  .image {
    width: 100%;
  }
  .content-container {
    margin-top: 3%;
  }
 
}