.content-container {
  margin: 2% 0;
  height: 45vh;
  padding: 2%;

}

.scroll {
  height: 100%;
  overflow: auto;
}

.main-font {
  font-family: "Inria Serif", serif !important;

}
.author{
  font-family: "Calistoga", cursive !important;
  text-align: center;
}

.pencil-style {
  border: solid black 2px;
}

.marker-style {
  background-color: black;
}

.author-item {
  color: #e7e7e7;
  background-color: #353839;
  border-radius: 3px;
  width: 100%;
}



.image {
  float: right;
  padding: 2%;
  width: 67%;
}

@media only screen and (max-width: 425px) {
  .image {
    display: none;
    
  }
  
}



/* MUI's breakpoints md+ */
@media only screen and (min-width: 960px) {
  .main-font{
    font-size: 1.25vw !important;
  }
  }

  /* lg + */
@media only screen and (min-width: 1280px) {
  .main-font{
    font-size: 1.1vw !important;
  }
  
  }
