/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.skew {
    -webkit-transform: rotate(-0.5deg);
        -ms-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
    
}

@media only screen and (max-width: 768px) {
    .skew{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}