.saved-newspapers-container {
  overflow-y: scroll;
  max-height: 70vh;
  width: 100%;
  padding: 0% 5%;
}

.folded-bg {
  background-image: url("../../img/folded_paper.png");
  background-size: 100% 75%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 39% 10% 20% 8%;
  border: red solid 2px;
  margin-top: 30%;
}

.saved-title{
  border-bottom: #808080 solid 3px;
  border-top: #808080 solid 3px;
  background-color: #d3d3d3;
  /* font-size: 1vw; */
}

.saved-author{
  font-family: "Inria Serif", serif !important;
  /* font-size: 1vw; */
}


.delete-btn {
  display: flex;
  margin: 0px;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  color: whitesmoke !important;
  background-image: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
  outline: none !important; 
  font-family: "Inria Serif", serif !important;

} 

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* @media only screen and (min-width: 756px) and (max-width: 1024px) {
  .folded-bg {
    display: none;
  }
} */


@media only screen and (max-width: 768px) {
  .folded-bg {
    padding: 8% 5% 5% 5%;
    background-size: cover;
  }
}
