.folded-bg {
  /* display: flex; */
  background-image: url("../../img/folded_paper.png");
  background-size: contain;
  /* justify-content: center; */
  align-items: center;

  /* height: 100%; */
  background-repeat: no-repeat;
  /* padding: 7%;
  padding-top: 25%;
  margin-right: 5% !important;
  margin-top: 110px; */
  cursor: pointer;
  flex-direction: column;
  border: green solid 2px;
}

.saved-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 7% 5%;
  margin-top: 19%;
  font-family: "Inria Serif", serif;
  width: 98%;
  border: red solid 2px;
  align-items: flex-end;
}

.saved-author{
  margin-top: 5%;
  display: flex;

}

.saved-title{
  color: #3f2a14;
  border-bottom: #808080 solid 3px;
  border-top: #808080 solid 3px;
  background-color: #d3d3d3;
  border-radius: 3px;
  margin-right: 10px;
}


.delete-btn {
  display: flex;
  font-weight: 400;
  color: whitesmoke;
  background-image: linear-gradient(
    to right,
    #093028,
    #237a57
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  outline: none;
  margin-top: 5%;
  margin-bottom: 10%;

}

@media only screen and (min-width: 756px) and (max-width: 1024px) {
  .folded-bg {
    display: none;
  }
}
