
.saved-newspapers-container {
  
  overflow-y: auto;
  max-height: 70%;
}

.saved-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6vh;
  color: #D0D0D0;
  background-color: #353839;
  border: 1px dashed #dcdcdc; 
  width: 95%;
  border-radius: 3%;
  font-family: "Calistoga", cursive !important;
  text-align: center !important;
   
}


.folded-bg {
  
  background-image: url("../../img/folded_paper-3.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 39% 10% 25% 8%;
    margin-top: 3.7%;

}

.saved-title{
  border-bottom: #808080 solid 3px;
  border-top: #808080 solid 3px;
  background-color: #d3d3d3;
  padding: 1%;
}
.main-font{  
  font-family: "Inria Serif", serif !important;
}

.delete-btn {
  color: whitesmoke !important;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(#093028),
    to(#237a57)
  );
  background-image: -o-linear-gradient(
    left,
    #093028,
    #237a57
  );
  background-image: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
  outline: none !important; 
  font-family: "Inria Serif", serif !important;
} 

.download-btn {
  color: whitesmoke !important;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(#093028),
    to(#237a57)
  );
  background-image: -o-linear-gradient(
    left,
    #093028,
    #237a57
  );
  background-image: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
  outline: none !important; 
  font-family: "Inria Serif", serif !important;
  margin-left: 3% !important;
} 

.btns{
  margin-top: 1% !important;
}


@media only screen and (max-width: 960px) {
  .saved-header{
    margin-top: 2% !important;
  }
 
  }

@media screen and (min-width: 500px) and (max-width: 600px) {
  .main-font{
    font-size: 2.45vw !important;
  }
  .folded-bg{
    padding: 25% 8% 15% 8%;
  }
  }


  @media screen and (min-width: 600px) and (max-width: 750px) {
    .main-font, .delete-btn, .download-btn{
      font-size: 2vw !important;
    }
    .folded-bg{
      padding: 20% 8% 15% 8%;
    }
    }


@media screen and (min-width: 750px) and (max-width: 960px) {
    
    .folded-bg{
      padding: 20% 8% 15% 8%;
  }
}

@media screen and (min-width: 960px) {
  .main-font, .delete-btn, .download-btn{
    font-size: .8vw !important;
  } 
  .folded-bg{
    padding: 20% 8% 15% 11%;
} 
.saved-newspapers-container{
  margin: 3% 0 !important;
}
  
}