.folded-bg {
  /* display: flex; */
  background-image: url("../../img/folded_paper.png");
  background-size: contain;
  /* height: 100%; */
  background-repeat: no-repeat;
  /* padding: 7%;
  padding-top: 25%;
  margin-right: 5% !important;
  margin-top: 110px; */
  cursor: pointer;
  flex-direction: column;
  align-items: flex-end;
  border: green solid 2px;
}

.saved-container {
  padding: 17% 0 2% 05%;
  font-family: "Inria Serif", serif;
}
.saved-container span {
  background-color: black;
  padding: 5px;
  color: #d0d0d0;
}
.saved-author {
  background-color: transparent !important;
  color: black !important;
}

.delete-btn {
  font-weight: 400;
  color: whitesmoke;
  background-image: linear-gradient(
    to right,
    #093028,
    #237a57
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  outline: none;
  margin-top: 5%;
  margin-bottom: 10%;
}

@media only screen and (min-width: 756px) and (max-width: 1024px) {
  .folded-bg {
    display: none;
  }
}
