.landing-container{
  
    width: 90vw;
    height: 90vh;
    color: black;
    padding: 7%;
  }
  
.main-font{  
    font-family: "Calistoga", cursive !important;
    text-align: center !important;
   
  }
  
.sec-font{ 
    font-family: "Inria Serif", serif !important;
    text-align: center !important;

}
  
  .learnmore-button {
   background: linear-gradient(
      to right,
      #093028,
      #237a57
    );  
    color: whitesmoke !important;
    font-family: "Inria Serif", serif !important;
  }
 

.intro {
    
    width: 100%;
    padding: 7%;
    text-align: center;  
    color: #D8D8D8;
        
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);background-color: #ffffff;
border: 1px dashed #dcdcdc; 


} 
  