.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    color: black;
    padding: 7%;
  }
  
.main-font{  
    font-family: "Calistoga", cursive !important;
    text-align: center !important;
    /* font-family: 'Pirata One', cursive !important; */
    /* font-size: 10vw !important; */
  }
  
.sec-font{ 
    font-family: "Inria Serif", serif !important;
    padding: 3%;
}
  
  .learnmore-button {
   background: linear-gradient(
      to right,
      #093028,
      #237a57
    );  
    color: whitesmoke !important;
    font-family: "Inria Serif", serif !important;
  }
 

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid 7px #353839;
    padding: 7%;
    text-align: center;  
    background-color: #DCDCDC;

  } 
  