.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  
}

.video {
  margin-bottom: 3%;
    width: 80%;
    height: 70%;
  }