body, #root{
  background: url("./img/lm.png") no-repeat fixed; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
  
}

body{
  /* padding: 2% 0 !important; */
}
.intro{
  /* background-color: black; */
  /* color: black;
  width: 80%;
  padding: 5%;
  margin:2%;
  background-image: url("./img/paper-ss.png");
  background-repeat: no-repeat;
  background-size: cover; */
   
}

.main-container {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100vw;
  height: 100vh;
    /* overflow: auto; */
    padding: 0;
    margin: 0;
    
}

.hey{
  border: purple solid 5px;
}
.saved-np{
  /* border: salmon solid 3px; */
  /* background-image: url("./img/cork.png");
  background-size: cover;
  background-repeat: no-repeat; */
  overflow-y: scroll;
  /* border: solid purple 3px; */
  max-height: 90vh;
  /*padding: 0% 5%; */
  /* border: solid yellow 3px; */
}


.newspaper-container {
  background-image: url("./img/paper-o.png");
  background-size: cover;
  background-repeat: no-repeat;
     /* border: salmon solid 3px; */

  /* object-fit: contain; */

  /* border: green solid 5px; */
  /* max-height: 90vh !important; */
  /* max-width: 60% !important; */
  /* margin-bottom: 3px !important; */
  /* margin-top: 0.5% !important; */
  /* width: 100%; */
  padding: 3.7%;
  /* overflow: auto; */
  /* border: purple solid 5px; */
  /* margin-top: 15% !important;
  margin-bottom: 2% !important; */

}

a{
  color: #237a57 !important;
}
.learnmore-button {
  /* background: linear-gradient(
     to right,
     #093028,
     #237a57
   );  
   color: whitesmoke !important;
   font-family: "Inria Serif", serif !important; */
 
 }

.loader {
  display: flex;
  justify-content: center;
}

.bg-showing {
  /* height: 100vh;
  margin-top: 10% !important;
  padding: 0% 3%; */
  /* border: blue solid 5px; */

}

.nav-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: whitesmoke !important;
  /* min-height: 6vh; */
  background: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: .7%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #093028;
  border-radius: 5px;
}


.saved-np::-webkit-scrollbar-thumb {
  background: #237a57;
  border-radius: 5px;
}

.saved-np::-webkit-scrollbar {
  width: 1.19% !important;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}




@media only screen and (max-width: 600px) {
  .newspaper-container{
    background-image: none;
    background-color: #DDDDDD ;
  }
}

/* bcbcbd #DDDDDD*/
/* MUI's breakpoints upto max sm */
@media only screen and (min-width: 959px) {
  /* .newspaper-container{
    padding: 2% !important;    
  }
  body{
    padding: 0 !important;
  } */
}

@media only screen and (min-width: 960px) {
.newspaper-container{
  margin: 3% 0 !important;
}
.saved-np{
  margin: 3% 0 !important;
}
}
/* MUI breakpoint Lg+ */
@media only screen and (min-width: 1279px) {
  .newspaper-container{
    padding: 3% !important;
  }

}



/* According to DevTools Extra extra small devices (phones, 425px and down) */
@media only screen and (max-width: 425px) {}

/* Extra small devices MUI (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
