html,
body,
#root {
  width: 100%;
  height: 100%;
  background-image: url("./img/bg-nophone.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Inria Serif", serif !important;
}
.newspaper-container {
  background-image: url("./img/paper.png");
  background-size: cover;
  margin-bottom: 3px !important;
  margin-top: 2% !important;
  /* background-color: whitesmoke; */
  width: 90%;
  padding: 0 5%;
  border: red solid 2;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.loader {
  display: flex;
  justify-content: center;
}

.footer {
  height: 100%;
  width: 100%;
  /* background-color: whitesmoke; */
  border: green solid 2px;
}

.bg-showing {
  margin-top: 15% !important;
  width: 50%;
  height: 40%;
  background-image: url("./img/phone2.png");
  background-repeat: none;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  width: 100%;
  height: 100%;
}

.learnmore-button {
  transform: rotate(43deg);
  margin-bottom: 20% !important;
  background: linear-gradient(
    to right,
    #093028,
    #237a57
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: linear-gradient(to right, #870000, #190a05); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke !important;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke !important;

  background: linear-gradient(
    to right,
    #093028,
    #237a57
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

/* .saved-newspapers-container {
  border: blue solid 2px;
  overflow-y: scroll;
  height: 100vh;

  /* margin-bottom: 3px !important;
  margin-top: 2% !important; */
  /* background-color: whitesmoke; 
  width: 100%;
} */

/* .container-with-footer {
  display: flex;
  flex-direction: column;
  border: solid red 2px;
} */

/*
 ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #353839;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #353839;
}
*/

@media only screen and (max-width: 1024px) {
  .bg-showing {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .bg-showing {
    display: none;
  }
}

@media only screen and (max-width: 1440px) {
  .learnmore-button {
    margin-right: 10% !important;
  }
}

@media only screen and (max-width: 768px) {
  .newspaper-container {
    margin-top: 0 !important;
    width: 100%;
    overflow: auto;
    background-color: #e6e6e6;
  }
}

button:focus {
  outline: 0;
}
