html,
body,
#root {
  width: 100%;
  height: 100%;
  background-image: url("./img/bg-nophone.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Inria Serif", serif !important;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.newspaper-container {
  background-image: url("./img/paper.png");
  background-size: cover;
  margin-bottom: 3px !important;
  margin-top: 2% !important;
  width: 100%;
  padding: 5%;
  overflow: auto;
}

.loader {
  display: flex;
  justify-content: center;
}

.bg-showing {
  margin-top: 10% !important;
  height: 100%; 
  background-image: url("./img/iPhone.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke !important;
  border: purple solid 5px;

  background: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #181818;
  border-radius: 5px;
}

/* button:focus {
  outline: 0;
} */


/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: grey; 
} */


/* .container-with-footer {
  display: flex;
  flex-direction: column;
  border: solid red 2px;
} */

/*
 ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #353839;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #353839;
}
*/

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border: darkorange solid 5px;

}

/* @media only screen and (max-width: 1024px) {
  .bg-showing {
    display: none;
  }
  .saved-newspapers-container{
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 1024px) {
  .bg-showing {
    display: visible;
  }
}

@media only screen and (max-width: 1440px) {
  .learnmore-button {
    margin-right: 10% !important;
  }
}

@media only screen and (max-width: 768px) {
  .newspaper-container {
    margin-top: 0 !important;
    width: 100%;
    overflow: auto;
    background-color: #e6e6e6;
  }
}

@media only screen and (max-width: 600px) {
  .newspaper-container {
    margin-top: 0 !important;
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }
} */

