html,
body,
#root {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./img/lm.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  box-sizing: border-box;
  font-family: "Inria Serif", serif;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.newspaper-container {
  background-image: url("./img/paper-o.png");
  background-size: cover;
  margin-bottom: 3px !important;
  margin-top: 0.5% !important;
  width: 100%;
  padding: 5% 5% 1% 5%;
  /* overflow: auto; */
}

.loader {
  display: flex;
  justify-content: center;
}

.bg-showing-hl {
  height: 100vh;
  margin-top: 10% !important;
  padding: 0% 3%;
}

.learnmore-app-hl{
  background: linear-gradient(
    to right,
    #093028,
    #237a57
  );  
  color: whitesmoke !important;
   transform: rotate(43deg);
   font-family: "Inria Serif", serif !important;
   margin-top: 550px !important;
   margin-right: 20%;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke !important;
  min-height: 6vh;
  background: linear-gradient(
    to right,
    #093028,
    #237a57
  ); 
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: .7%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #093028;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


/* ANYTING BELOW A TABLET */
@media only screen and (max-width: 768px) {
 .bg-showing-vl {
   display: none;
 }
 .bg-showing-hl {
   display: none;
 }
 .newspaper-container {
   /* margin-top: 0 !important; */
   width: 100%;
   background:none;
   background-color: #D6D6D6;
   /* border-radius: 3%; */
   /* min-height: 100vh; */
   /* overflow: auto !important; */
   /* background-color: #e6e6e6; */
 }
 #root{
   overflow: auto;
 }
 .learnmore-app-vl {
   font-size: 5px !important;
  }

 .learnmore-app-hl {
   font-size: 5px !important;
  }
}






