h3 span {
  /* font-family: "UnifrakturMaguntia", cursive; */
  font-family: "Luckiest Guy", cursive;
  font-size: 5rem;
}

.header-title {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 5%;
  /* color: #dcdcdc; */
  /* background-color: #353839; */
}

.header-title span {
  font-family: "Calistoga", cursive;

  /* font-family: "Luckiest Guy", cursive; */
  /* font-family: "Abril Fatface", cursive; */
  /* font-family: "Ultra", serif; */
  /* font-family: "Alfa Slab One", cursive; */
}

.second-span {
  margin-left: 10px;
}

.side-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* color: #dcdcdc; */
  /* background-color: #353839; */
}

@media only screen and (max-width: 600px) {
  .header-title {
    justify-content: center;
  }

  .side-info {
    text-align: center;
    margin-top: 15px !important;
  }
}
