.header-title{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0% 2% !important;
}

.header-container{
  /* border: red solid 3px; */
}

.header-title-container{
  height: 100%;
  width:100%;
  /* border: green solid 3px; */
}
/* 
.intro{
  background-color: whitesmoke;
  color: black;
  padding: 5%;
  margin:2%;
} */

/* h1 span {
  font-family: "Calistoga", cursive;
  font-size: 6vw !important;
  border: purple solid 2px;
  text-align: center;
} */

.main-font{  
  font-family: "Calistoga", cursive !important;
  text-align: center !important;
  /* font-family: 'Pirata One', cursive !important; */
  /* 10 on xs, sm, 6 on md, 4.5 on lg+ */
  font-size: 10vw !important;
}

.sec-font { 
  font-family: "Inria Serif", serif !important;
  /* font-size: 1vw !important; */
  /* border: red solid 2px; */
}

.learnmore-button {
 background: linear-gradient(
    to right,
    #093028,
    #237a57
  );  
  color: whitesmoke !important;
  font-family: "Inria Serif", serif !important;
  /* font-size: 1.4vw !important; */
}

.side-info {
  /* display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center; */
  border-left: solid 2px #353839;
  padding: 2%;
  text-align: center;
} 

/* MUI's breakpoints md+ */
@media screen and (min-width: 601px) and (max-width:720px) {
  
  .sec-font{
    font-size: 1.45vw !important;
  }
  }


/* MUI's breakpoints md+ */
@media only screen and (min-width: 960px) {
.main-font{
  font-size: 5.55vw !important;
}
.sec-font{
  font-size: 1.1vw !important;
}

}

/* lg + */
@media only screen and (min-width: 1280px) {
  .main-font{
    font-size: 4.7vw !important;
  }
  .sec-font{
    font-size: .9vw !important;
  }
  }


@media only screen and (max-width: 768px) {
 
  .side-info {
    /* display: none; */
  }
  .learnmore-button{
    /* display: none; */
  } 
  /* h1 div {
    font-size: 15vw !important;
    text-align: center;
  } */
  
  .main-font{  
    /* font-family: "Calistoga", cursive !important;
    text-align: center !important;
    font-size: 15vw !important; */

  }
}

/* @media only screen and (min-width: 2000px) {
  .side-info{
    padding: 10% 10px 0px 10px;
  }
} */
