.header-container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  width: 100%;
  /* border: red solid 2px; */
}

h1 div {
  font-family: "Calistoga", cursive;
  font-size: 6vw !important;
}

span strong {
  font-family: "Calistoga", cursive;
}

span p { 
  font-family: "Inria Serif", serif !important;
}

.learnmore-button {
 background: linear-gradient(
    to right,
    #093028,
    #237a57
  );  
  color: whitesmoke !important;
  font-family: "Inria Serif", serif !important;

}

.side-info {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-left: solid 2px #353839;
  padding: 10px 10px 0px 10px;
  text-align: center;
} 

@media only screen and (max-width: 600px) {
 
  .side-info {
    display: none;
  }
  .learnmore-button{
    display: none;
  }
  h1 div {
    font-size: 15vw !important;
    text-align: center;
  }
}

@media only screen and (min-width: 2000px) {
  .side-info{
    padding: 10% 10px 0px 10px;
  }
}
