.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  width: 100%;
}

/* h1 span {
  font-family: "Calistoga", cursive;
  font-size: 6vw !important;
  border: purple solid 2px;
  text-align: center;
} */

.main-font{  
  font-family: "Calistoga", cursive !important;
  text-align: center !important;
  /* font-family: 'Pirata One', cursive !important; */
  font-size: 6vw !important;
}

span p { 
  font-family: "Inria Serif", serif !important;
  font-size: 0.7rem !important;
}

.learnmore-button {
 background: linear-gradient(
    to right,
    #093028,
    #237a57
  );  
  color: whitesmoke !important;
  font-family: "Inria Serif", serif !important;

}

.side-info {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-left: solid 2px #353839;
  padding: 10px 10px 0px 10px;
  text-align: center;

} 

@media only screen and (max-width: 768px) {
 
  .side-info {
    display: none;
  }
  .learnmore-button{
    display: none;
  }
  /* h1 div {
    font-size: 15vw !important;
    text-align: center;
  } */

  .main-font{  
    font-family: "Calistoga", cursive !important;
    text-align: center !important;
    font-size: 15vw !important;

  }
}

/* @media only screen and (min-width: 2000px) {
  .side-info{
    padding: 10% 10px 0px 10px;
  }
} */
